<div class="m-auto text-center" id="endGame">
  <h1 class="text-2xl">Game is over!</h1>

  <div class="flex flex-col" *ngIf="foolPlayer">
    <dcg-player-avatar
      [avatar]="foolPlayer.avatar"
      [label]="foolPlayer.label"
    ></dcg-player-avatar>
    <p>
      {{ foolPlayer.label | titlecase }} is the Fool with
      {{ foolPlayer.cards.length }} cards left!
    </p>
  </div>

  <div *ngIf="!foolPlayer">No one is the fool this round!</div>

  <button class="primary" (click)="playAgain()">Play again?</button>
</div>
