<div class="inline-flex" *ngIf="deck && !spread">
  <div
    class="z-10 playing-card bg-black-800"
    [ngClass]="{ 'opacity-50': deck.cards.length <= 1 }"
  >
    {{ deck.cards.length }}
  </div>
  <dcg-playing-card
    class="z-0 rotate-90 -translate-x-1/3"
    [ngClass]="{ 'opacity-50': deck.cards.length <= 0 }"
    [card]="deck.trumpCard"
  ></dcg-playing-card>
</div>

<div class="flex flex-row flex-wrap justify-center" *ngIf="deck && spread">
  <dcg-playing-card
    *ngFor="let card of deck.cards"
    [card]="card"
  ></dcg-playing-card>
</div>
