<div class="playing-card relative text-{{ card.color }}-600">
  <span class="absolute top-0 left-[.1rem] card-corner">
    <p *ngTemplateOutlet="corner; context: { $implicit: card }"></p>
  </span>

  <span class="card-center" [ngClass]="{ 'trump-outline': card.isTrump }">
    {{ card.suitString }}
  </span>

  <span class="absolute rotate-180 bottom-0 right-[.1rem] card-corner">
    <p *ngTemplateOutlet="corner; context: { $implicit: card }"></p>
  </span>

  <ng-container *ngFor="let o of overlays">
    <dcg-card-overlay
      [cardOverlay]="o"
      (actionChange)="onAction2($event)"
    ></dcg-card-overlay>
  </ng-container>
</div>

<ng-template #corner let-card>
  <span>{{ card.rankString }}</span>
  <span class="card-suit">{{ card.suitString }} </span>
</ng-template>

<i class="hidden text-red-600 bg-red-600 bg-black-600 text-black-600">
  Preload Tailwind classes
</i>
