<div class="flex flex-row items-center justify-evenly">
  <div>
    <span class="p-1" *ngIf="version">v{{ version }}</span>
    <a
      href="https://github.com/deniszholob/durak-card-game"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fab fa-github"></i>
      Github
    </a>
  </div>

  <div class="flex flex-col text-center">
    <span>
      Design by
      <a
        href="https://deniszholob.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        deniszholob.com
      </a>
    </span>
    <a
      class="text-xs text-gray-500 hover:text-gray-500"
      href="https://www.flaticon.com/free-icons/cat"
      title="cat icons"
    >
      Avatar icons created by Freepik - Flaticon
    </a>
  </div>
  <a
    class="button primary"
    href="https://www.patreon.com/deniszholob"
    target="_blank"
    rel="noopener noreferrer"
  >
    Donate
  </a>
</div>
<div class="flex flex-row items-center justify-evenly"></div>
